body {
    margin: 0;
    color: #333;
    background: #fcfcfc;
    font-family: sans-serif;
    line-height: 140%;
}

pre {
    border: 1px solid #e0e0e0;
    background-color: #f8f8fa;
    padding: 0.5em;
    border-radius: 5px;
}

code {
    font-family: monospace;
    font-size: 13pt;
    border-radius: 5px;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #3344a4;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-top: 2.7em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.2em;
    color: #3344a4;
}

h1 {
    margin-top: 1.1em;
    font-size: 140%;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 95%;
}

h4, h5 {
    font-size: 90%;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #3344a4;
}

dt code {
    font-weight: bold;
}

dd p {
    margin-top: 0;
}

table {
    background-color: #f8f8fa;
    border: solid 1px #ccc;
    border-spacing: 0;
    width: 100%;
    border-radius: 5px;
    border-collapse:separate;
}

table th {
    font-weight: bold;
    background-color: #fff6b0;
    padding: 0.3em;
}

td {
    padding: 0.4em;
}

th, td {
    border-right: solid 1px #ccc;
}

/* Get the table corners looking ok... */
tr:only-child td:first-child {
    border-radius: 5px 0 0 5px !important;
}

tr:only-child td:last-child {
    border-radius: 0 5px 5px 0 !important;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

td:last-child {
    border-right: none;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-right: none;
    border-radius: 0 5px 0 0;
}

tr.odd {
    background-color: #e8e8e8;
}

#header {
    background-color: #f4f4f4;
    border: none;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0.5em;
    display:block;
    height:75px;
}

#header_container {
    width: 62.2em;
}

#logo {
    margin-top: 13px;
    margin-left: 6px;
    float:left;
}

#title {
    color: rgb(153,153,153);
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    line-height:70px;
    text-align:right;
}

#search {
    padding: 1em;
}

#search input {
    background-color: #fe9;
    border: solid 1px #999;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

#search select {
    margin-left: 0.3em;
    padding-left: 0.5em;
    background-color: #fe9;
    border-radius: 1px;
}

#search input[name=submit] {
    border: solid 1px #999;
}

#search input[name=submit]:hover {
    background-color: rgb(255, 223, 184);
}

#left {
    clear: both;
    float: left;
    margin-left: 8px;
    margin-bottom: 5em;
    width: 11em;
}

#sidebar {
    background-color: #fc4;
    border: solid 1px #bbb;
    padding-left: 0.1em;
    padding-right: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    line-height: 120%;
    border-radius: 5px;
}

#sidebar ul {
    padding: 0;
    margin-left: 0.8em;
    font-size: small;
}

#sidebar li {
    display: block;
}

#sidebar ul a:hover {
    background: #fe9;
}

#left #support {
    padding-top: 20px;
    padding-bottom: 20px;
}

#left #hosting {
    margin-left: -1.5em;
    text-align: center;
    font-size: x-small;
    line-height: 90%;
}

#content {
    margin-left: 12.2em;
    max-width: 50em;
}

#footer {
    clear: both;
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 0.2em;
    background: #eee;
    border-top: solid 1px #ccc;
}

#contact {
    float: right;
    padding-top: 0.5em;
}

#newsintro {
    font-style: italic;
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
